table{
    border: 1px solid;
    border-collapse: collapse;
}

td, tr, th{
    border: 1px solid;
}

#pay{
    display: inline-block;
}

#submit{
    border-radius: 10px;
}

#reset{
    border-radius: 10px;
}
fieldset{
    width:40%;
    border-radius: 5px;
   
}

legend{
    font-size: small;
}
#customerinf label{
    display:inline-block;
    width:120px;
    text-align: left;
}