iframe{
    width:100%;
    height:650px;
    border:none;
    background-color:rgb(186, 250, 186);
}

html, body {
    height: 100%;
    margin:0;
}

li{
    display:inline-block;
    height: 20px;
    width: fit-content;
    text-indent: 30px;
    float: none;
    position: relative;
    left:20%;
    right:20%;
}

#motto{
    text-align: center;
    color: rgb(77, 104, 22);
    font-size: 24px;   
    font-weight: bold; 
    font-family: Arial, Helvetica, sans-serif;
}

#logo{
    float:left;
}

button{
    color:white;
    font-size:14px;
    border: none;
    outline:none;
    background-color: rgb(30, 99, 53);
    width:150px;
    height:30px;
    border-radius: 10px;
    margin-top: 30%;
}

button:hover{
    background-color: rgb(149, 223, 128);
    cursor: pointer;
    color: green;
}

#submit, #reset{
    margin-top: 5%;
}

#wrapper{
    background-color: lightyellow;
    font-family:Arial Black;
    font-size:large;
    width:80%;
    height:100%;
    padding:5px;
    margin-left:5%;
    margin-right:5%;
}

#footer{
    background-color: lightyellow;
    text-align: center;
    padding-bottom: none;
    width:80%;
    margin-top:1%;
    margin-left:5%;
    margin-right:5%;
    color: rgb(77, 104, 22);
    font-size: 16px;
}

#contact_details{
    width:45%;
    height:650px;
    float:left;
    border-right: 1px solid;
    padding:2%;
}

form{
    width:45%;
    height:650px;
    float:right;
    border-right: 5px;
    padding:2%;
}

#label1, #label2, #label3, #username, #password, #email{
    padding:0px;
    display:block;
}

#name, #email, #phone, #username, #password{
    height:20px;
    width:60%;
}

h3{
    color: rgb(77, 104, 22);
    font-family:'Courier New', Courier, monospace;
    text-decoration: underline;
}

h1{
   text-align: center;
   font-family:'Courier New', Courier, monospace;
}

p{
    font-family: 'Courier new';
    font-size: 16px;
}

fieldset{
    width:70%;
}

legend{
    font-family:'Courier New', Courier, monospace;
    font-size:20px;
    font-weight: bold;
}

#googleMap{
    width:10%;
    height:10%;
}

lu{
    font-size: 14px;
    text-decoration: none;
    display:inline-block;
}

#userLogin{
    float:right;
    margin-right: 5%;
}

#SignIn{
    width: 20%;
    border-radius: 6px;
    margin: 5px auto 0 auto;
    padding: 2% 2% 2% 2%;
    border: 1px solid;
}

#Register{
    width: 20%;
    border-radius: 6px;
    margin: 5px auto 0 auto;
    padding: 2% 2% 2% 2%;
    border: 1px solid;
}
