*{
    margin:0px;
    padding:0px;
}
#left, #right{
/*border:1px solid;*/
width:49.8%;
height:850px;
}

#left{
    float:left;
}
#right{
    float:right;
    }

#left img{
    width:100%;
    height:850px;
    
}
#right img{
    margin-top: 200px;
    margin-left: 200px;
    width:5%;
    height:5%;
}
#t1{
    margin-left: 200px;
    margin-top: 20px;
    font-family: Helvetica;
    font-size: 32px;
    font-size: bold;

}
#t2{
    margin-left: 200px;
    margin-top: 20px;
    font-family: Helvetica;
    font-size: 14px;
    font-size: bold;
}
#Signup{
    margin-left: 200px;
    width:350px;
    height:30px;
    background-color: #1DA1F2;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    border: 0px;
    border-radius: 10px;
    cursor: pointer;
}
#Join{
    margin-left: 200px;
    width:350px;
    height:30px;
    background-color: white;
    color: #1DA1F2;
    border-radius: 5px;
    font-weight: bold;
    border: 1px solid #1DA1F2;
    border-radius: 10px;
    cursor:pointer; /* or using a dummy href */
    
}

#Join:hover{
    background-color: rgb(209, 243, 253);
       
}

#Signup:hover{
    background-color: rgb(71, 152, 177);
    }

a{
    margin-left: 10px;
    text-decoration: none;
    color: #655786;
    font-size: small;
    font-family: 'Segoe UI';
}